.login {
  height: 100vh;
  background-color: rgb(71, 199, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin: 200px;
    overflow: hidden;
   
    .left {
      flex: 1;
      background: linear-gradient(rgba(96, 55, 11, 0.5), rgba(96, 55, 11, 0.5)), url(../../assets/mars.png) center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      padding: 40px;
      gap: 30px;
      color: white;

      h1 {
        font-size: 60px;
      }

      span {
        font-size: 14px;
      }
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rgb(71, 199, 173);
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;

      h1 {
        color: rgb(71, 199, 173);
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px; 
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: rgb(71, 199, 173);
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      } 
    }
  }
}


